{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1, "VariableDeclarator": 2}],
    "quotes": [2, "double"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
  },
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "plugins": ["react"]
}
